.card-body {
	background-color: #3C2F48 !important;
	border: 2px solid rgba(154,155,156,0);
}

.card {
	border: 2px solid rgba(154,155,156,0.4);
}

.table {
	background-color: rgba(0,0,0,0) !important;
}

hr {
	background-color: #555555;
}

.nav-tabs .nav-link.active {
	border-color: #9a9b9c #9a9b9c #0c0c0c !important;
}

.data-tag {
	color: #111 !important;
	border-color: #cccccc !important;
}

.data-tag.bg-dark {
	background-color: #cccccc !important;
}

.alert {
	opacity: 0.8 !important;
}

hr {
	border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.hljs-attr {
	color: #eeeeee;
}

.hljs, .hljs-subst {
	color: #dddddd;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
	color: #95dbc6;
}
